fastapi==0.112.0
uvicorn[standard]==0.30.5
python-dotenv==1.0.1
pydantic==2.8.2
groq==0.9.0
sentence-transformers==3.0.1
# faiss-cpu==1.8.0   <-- REMOVE THIS (not supported on 3.13)
chromadb==0.5.0      # use Chroma instead of Faiss
numpy>=2.0.0